*{
    margin: 0;
    padding: 0;
}
#conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
header{
    color: #fff;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(121,9,22,1) 50%, rgba(2,0,36,1) 100%);
    width: 100vw;
    padding: 20px;

}
#titulo{
    width: 450px;
    height: 200px;
}
.armas{
    width: 100px;
    height: 150px;
}
#card{
    display: grid;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(231, 231, 231);
    border-radius: 2px;
    width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 10px   ;
}

table tr td{
    padding:20px;
}
img{
    width: 50px;
    height: 50px;
}
#botaoExcluir:hover{
    cursor: pointer;
}
#botaoEditar:hover{
    cursor: pointer;
}
